<%- include ('partials/admin-nav', csrfToken) %> 

		<div class="add-product">
			<h1><%= product ? "Update Product" : "Add Product" %> </h1>
			<form
				method="POST"
				action="<%= product ? "/admin/products/update/"+product._id : "/api/products/add?_csrf="+csrfToken %>"
				enctype="<%= product? "application/x-www-form-urlencoded" : "multipart/form-data" %>" 
			>
				<input type="text" name="title" placeholder="title" value="<%= product ? product.title : "" %>" /> <br /><br />
				<input type="number" step="0.01" name="price" placeholder="price" value="<%= product ? product.price : 0 %>" />
				<br /><br />
				<input type="number" name="quantity" placeholder="quantity" value="<%= product ? product.quantity : 0 %>" />
				<br /><br />
				<select name="category">
					<% categories.forEach(category => { %>
						<option value="<%= category.name %> "><%= category.name %> </option>
					<% }) %>
				</select>
				<br /> <br />
				<textarea name="description" placeholder="description"><%= product ? product.description : "" %></textarea>
				<br /><br />
				
				<% if (product && product.new === true) { %>
					<span>New </span><input type="checkbox" name="isNew" checked /> <br /><br />
				<% } else { %>
					<span>New </span><input type="checkbox" name="isNew" /> <br /><br />
				<% } %>
				 
				<% if (product && product.featured === true) { %>
					<span>Featured </span><input type="checkbox" name="featured" checked /> <br /><br />
				<% } else { %>
					<span>Featured </span><input type="checkbox" name="featured" /> <br /><br />
				<% } %>

				<% if (product) { %>
					<div>
						<% product.photos.forEach(photo => { %>
							<img src='<%= photo %>' width="150px" />
						<% }) %>
					</div>
				<% } else { %>
					<div>
						<input type="file" name="photos" multiple />
					</div>
				<% } %>
				 
				<button type="submit"><%= product ? "Update product" : "Add product" %></button>
			</form>
		</div>
	</body>
</html>
