<%- include ('partials/admin-nav', {csrfToken}) %> 
		<div class="add-product">
			<h1><%= category ? "Update Category" : "Add Category" %> </h1>
			<form
				method="POST"
				action="/api/categories/add?_csrf=<%=csrfToken%>"
				enctype="multipart/form-data"
			>
				<input type="text" name="name" placeholder="title" value="<%= category ? category.name : "" %>" /> <br /><br />
				<% if (!category) { %>
				 <input type="file" name="photo" />
				<% } %>
				<button type="submit"><%= category ? "Update category" : "Add category" %></button>
			</form>
		</div>
	</body>
</html>
