<%- include ('partials/admin-nav', {csrfToken}) %> 
<% if (messages.success) { %>
	<div style="background-color: #2f83fa; color: white; padding: 20px; text-align: center; font-size: 20px;">
		<p><%= messages.success %></p>
	</div>
<% } %>
		<div class="admin-products">
			<div class="wrapper">
				<div class="links">
					<a href="/admin/categories/add" class="categories"
						>Add Category</a
					>
				</div>
				<table style="width: 100%" class="category-table">
					<tr>
						<th></th>
						<th>Name</th>
						<th></th>
						<th></th>
					</tr>
					<% categories.forEach(category=> { %>
					<tr>
						<td><img src="<%= category.photo %> " width="100px" /></td>
						<td><%= category.name %></td>
						<td><a href="/admin/categories/update/<%= category._id  %>" class="update">Update</a></td>
						<td>
							<form class="delform" method="POST" action="/admin/categories/remove/<%= category._id  %> ">
								<input type="hidden" name="_csrf" value="<%= csrfToken %>" />
								<button type="submit" class="remove" onclick="return confirm('Are you sure you want to remove this category ?')">Remove</button>
							</form>
						</td>
					</tr>
					<% }) %>
				</table>
			</div>
		</div>
	</body>
</html>
