<%- include ('partials/nav', {user, cart, csrfToken}) %> 

      <% if (cart > 0) { %>
         <div>
            <% products.forEach(product => { %>
               <section class="product-info">
                  <div class="img"><img src="<%= product.photos[0] %>" width="70%" /></div>
                  <div class="detail">
                     <h1><%= product.title %></h1>
                     <p class="price">&dollar;<%= product.price %></p>
                     <div class="review-count">
                        <div>
                           <ion-icon class="star" name="star"></ion-icon>
                           <ion-icon class="star" name="star"></ion-icon>
                           <ion-icon class="star" name="star"></ion-icon>
                           <ion-icon class="star" name="star"></ion-icon>
                           <ion-icon class="star" name="star"></ion-icon>
                        </div>
                     </div>
                     <div class="review-count stock">
                        <ion-icon class="checkmark" name="checkmark"></ion-icon>
                        <p>In stock</p>
                     </div>
                     <p class="product-id">SKU P-<%= product._id %></p>
                     <p class="description"><%= product.title %></p>
         
                     <div class="product-actions">
                        <form action="/api/products/remove/<%= product._id %>" method="post">
                           <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                           <div>
                              <button class="card-btn">Remove from cart</button>
                           </div>
                        </form>
                     </div>
                  </div>
               </section>
            <% }) %>
            <h1 class="total-amount">Total Price: <%= total %> </h1>
   
            <form action="/api/products/checkout" method="POST">
               <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
               <script
                 src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                 data-key="pk_test_51HgXS9AM0fYeg1Kdd2cM4tI74MmHu7ZBHxiQVqOgziZfDYnQGkFbzL9oH4Z5IUYv8dh60BujZWa54tGAh902lzRR00MmVwHQVn"
                 data-amount="<%= total * 100 %>"
                 data-name="Items"
                 data-description="Items from electroshop"
                 data-image="../public/assets/logo.png"
                 data-locale="auto">
               </script>
               <script>
                 // Hide default stripe button
                 document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
               </script>
               <button type="submit" class="checkout-btn">Checkout</button>
             </form>
        </div>
      <% } else { %>
         <h1 style="margin-top: 30px; text-align: center;">Your cart is empty</h1>
      <% } %>
        
		
	</body>
</html>
