<%- include ('partials/nav', {user, cart}) %> 
	

		<section class="product-info">
			<div><img src="<%= product.photos[0] %>" /></div>
			<div>
				<h1><%= product.title %></h1>
				<p class="price">&dollar;<%= product.price %></p>
				<div class="review-count">
					<div>
						<ion-icon class="star" name="star"></ion-icon>
						<ion-icon class="star" name="star"></ion-icon>
						<ion-icon class="star" name="star"></ion-icon>
						<ion-icon class="star" name="star"></ion-icon>
						<ion-icon class="star" name="star"></ion-icon>
					</div>
					<p><%= product.reviews.length %>  Reviews</p>
					<p>Add Your Review</p>
				</div>
				<div class="review-count stock">
					<ion-icon class="checkmark" name="checkmark"></ion-icon>
					<p><%= product.quantity %> items in stock</p>
				</div>
				<p class="product-id">SKU P-<%= product._id %></p>
				<p class="description"><%= product.title %></p>

				<div class="product-actions">
					<form action="<%= `/api/products/product/${product._id}` %>" method="post" style="display: flex;">
						<div><span>Qty</span> <input type="number" min="1" name="quantity" /></div>
						<div>
							<button class="card-btn" type="submit">
								<ion-icon name="cart-outline"></ion-icon>
								<span>Add To Card</span>
							</button>
						</div>
					</form>
				</div>
			</div>
		</section>

		<section class="product-details">
			<div class="buttons">
				<ul>
					<li class="active details-nav">Details</li>
					<li class="review-nav">Reviews <%= product.reviews.length %> </li>
				</ul>
			</div>
			<div class="details">
				<%= product.description %> 
			</div>
			<div class="review visibility">
				<h2>Customer reviews</h2>
				<% if (product.reviews.length > 0) { %>
					<% product.reviews.forEach(review => { %>
						<div style="border: 1px solid black; padding: 8px 16px; margin-top: 12px;">
							<div class="review-rating">
								<span><b>Rating</b></span>
								<% for( let index = 0; index < review.rating; index++ ) { %>
									<ion-icon class="star" name="star"></ion-icon>
								<% } %>
							</div>
							<div>
								<div class="user-review">
									<%= review.feedback %> 
								</div>
								<div class="user-review-info">
									<p><span>Review by</span> <b><%= review.username %> </b></p>
								</div>
							</div>
						</div>
					<% }) %>
				<% } else {%>
				 <p style="text-align: center; margin-top: 12px; font-size: 20px;">No reviews for this product</p>
				<% } %>
			</div>
		</section>

		<section class="review-form">
			<h1>Submit your review</h1>
			<form action="/api/products/review/<%= product._id %> " method="POST">
				<div>
					<p>Your rating:</p>
					<p><input type="number" name="rating" min="1" max="5" /></p>
				</div>
				<div>
					<p>Username:</p>
					<input type="hidden" name="username" value="<%= user %>" />
					<div><input type="text" value="<%= user %>" disabled /></div>
				</div>
				<div>
					<p>Details:</p>
					<div><textarea name="feedback"></textarea></div>
				</div>
				<div>
					<div><button class="review" type="submit">Submit review</button></div>
				</div>
			</form>
		</section>

		<script>
			const detailsNav = document.querySelector(".details-nav");
			const reviewNav = document.querySelector(".review-nav");
			const details = document.querySelector(".details");
			const review = document.querySelector(".review");
			const cardBtn = document.querySelector(".card-btn");
			const reviewbtn = document.querySelector(".review")

			// cardBtn.addEventListener("click", (e) => {
			// 	console.log(e);
			// });

			detailsNav.addEventListener("click", (e) => {
				console.log(e.target);
				detailsNav.classList.add("active");
				reviewNav.classList.remove("active");
				details.classList.remove("visibility");
				review.classList.add("visibility");
			});

			reviewNav.addEventListener("click", (e) => {
				reviewNav.classList.add("active");
				detailsNav.classList.remove("active");
				details.classList.add("visibility");
				review.classList.remove("visibility");
			});

			
		</script>
	</body>
</html>
